select {
    font-size: 15px;
    height: 35px;
    color: #0077FF;
    background-color: #fff;
    border-color: #eee;
}

select.history {
    display: inline;
}

select.from {
    display: block;
    margin: 10px 0;
}

select.select_to {
    margin-bottom: 10px;
}