
p.menu_items {
    display: inline-block;
    vertical-align: middle;
    padding: 0 10px;
    cursor: pointer;
}

p#vertilizer{
    display: inline-block;
    vertical-align: middle;
    height: 100%; 
    color: white;
}

p.notice {
    color: red
}

p.vs {
    display: inline;
}

p.conversion_result {
    width:200px;
    background-color: grey;
    border-radius: 5px;
    height: 20px;
}
