
p.menu_items {
    display: inline-block;
    margin: 0;
    display: inline-block;
    height: 100%;
    padding: 25px 10px;
    cursor: pointer;
    width: 160px;
    text-align: center;
}

p.menu_items:hover, p.menu_items.selected {
    background: rgba(#0077FF,.3);
    color: #fff;
    font-weight: 500;
}

p.notice {
    color: red
}

p.vs {
    display: inline;
}

p.hist_p {
    margin: 0;
}

p.to {
    margin: 15px 0 0 0;
    color: #9098A9;
}